body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

img {
    max-width: 100%;
    height: auto;
}

.navbar-inverse .container .collapse navbar-collapse .nav .navbar-nav .navbar-right > li > a {
    margin-right: 15px;
}

#seasons {
    color: #9d9d9d;
    text-transform: uppercase;
    position: relative;
    top: 15px;
    right: 10px;
}

.navbar-inverse .container .sesonsNumber {
    margin-right: 100px;
    color: red;
    font-size: 14px;
}

.navbar-inverse .container .navbar-header #headTitle {
    font-size: 18px;
    text-transform: uppercase;
    margin-left: 50px;
}

.headImg {
    height:  515px;
    background-image: url(../logo2.jpg);
    background-size: cover;
    background-position: top;
}

#img-title {
    color: white;
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

#img-serial-name {
    letter-spacing: 1px;
    font-size: 36px;
    text-transform: uppercase;
    color: #B03126;
}

#you-watched {
    color: lightgrey;
    font-size: 16px;
}

mark {
    color: inherit;
}

@media only screen and (max-width : 1200px) {
    .navbar-inverse .container .navbar-header #headTitle{
    font-size: 18px;
    text-transform: uppercase;
    margin-left: 50px;
    position: relative;
    top: 1px;
    }     
}

@media only screen and (max-width : 992px) {
    .navbar-inverse .container .navbar-header #headTitle{
    font-size: 18px;
    text-transform: uppercase;
    margin-left: 50px;
    position: relative;
    top: 2px;
    } 
}

@media only screen and (max-width : 889px) {
    .navbar-inverse .container .navbar-header #headTitle {
    font-size: 18px;
    text-transform: uppercase;
    margin-left: 50px;
    position: relative;
    top: 2px;
    }
}

@media only screen and (max-width : 480px) {
    .navbar-inverse .container .navbar-header #headTitle {
    font-size: 18px;
    text-transform: uppercase;
    margin-left: 50px;
    position: relative;
    top: 4px;
    }
}